.center-items{
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    box-shadow: inset 0 0 0 0 #24408f;
    color: #24408f;
    margin: 0 -.25rem;
    padding: 0 .25rem;
    border-radius: 10px;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    &.selected {
        background-color: #24408f;
        color: white;
    }
}

.selector-card{
    // max-width: 30vw;
}

.button:hover {
    box-shadow: inset 310px 0 0 0 #24408f;
    color: white;
}

.selection-card{
    width: 100%;
}

.valve-selector-panel{
    margin: 0.5vh;
}

.valve-button{
    @extend .center-items;
    @extend .button;
    color: #24408f;
    font-family: 'Poppins', sans-serif;
    font-size: 27px;
    font-weight: 700;
    line-height: 1.5;
    text-decoration: none;
    width: 100%;
    height: 5vh;
}

.mat-mdc-card-content{
    padding: 0px !important;
}

mat-card-subtitle{
    color: rgb(135, 135, 135);
}


